body {
    background-position: center;
    width: 100%;
    height: 100%;
}
#logo {
    width: 65px;
    height: 65px;
}

 #navbarNav {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: auto;
    width: 100%;
}

 #entete {
    background-image: url("./images/retro-game-valley.jpg");
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    height: auto;
   
}
#entete p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   
}
#entete a{
    color: white;
}

 h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5%;
    font-size: 80px;
}

#who p {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
    margin-block-start :5%; 

}

#pp{
    border: solid white;
    height: 300px;

}
hr {
    border: none;
    border-top: 70px double #5BFF33;
    color: #5BFF33;
    overflow: visible;
    text-align: center;
    height:70px;
    margin-block-start :5%; 
}
.skillsImage{
    max-height: 300px;
    max-width: 300px;
}
.projects{
    background-image: url("./images/retro-car-try2.jpg");
    background-position: center;
    margin-block-start: 5%;
    margin-block-end :5%; 
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(auto, 200px);
   grid-auto-rows: minmax(150px, 200px);
    grid-template-areas: 
    "p1 . . p2"
    " . p3 p4 ."
    " . p5 p6 ."
    "p7 . . p8";
}
#p1{
    grid-area: p1;
    background-color:black;
    margin: 2%;
    color: black;
    text-align: center;
    font-size: 20px;
}
#p1:hover{
    color:whitesmoke;

}
#p2{
    grid-area: p2;
    background-color: black;
    color:black;
    margin: 2%;
    text-align: center;
    font-size: 20px;
}
#p2:hover{
    color:whitesmoke;
}
#p3{
    grid-area: p3;
    background-color: black;
    margin: 2%;
    text-align: center;
}
#p4{
    grid-area: p4;
    background-color:black;
    margin: 2%;
}
#p5{
    grid-area: p5;
    background-color: black;
    margin: 2%;
}
#p6{
    grid-area: p6;
    background-color: black;
    margin: 2%;
}
#p7{
    grid-area: p7;
    background-color: black;
    color: black;
    margin: 2%;
    text-align: center;
    font-size: 20px;
}
#p7:hover{
    color:whitesmoke;
}
#p8{
    grid-area: p8;
    background-color: black;
    color: black;
    margin: 2%;
    text-align: center;
    font-size: 20px;
}
#p8:hover{
    color:whitesmoke;
}
.card{
    height: 100%;
    width: 100%;
    background-color:black;
}
.card-text{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

@media only screen and (max-width:600px){
    h1{
        font-size: 40px;
    }
    #entete p{
        font-size: 15px;
    }
    .projects{
        grid-gap: 5px;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-columns: minmax(auto, 200px);
       grid-auto-rows: minmax(150px, 200px);
        grid-template-areas: 
        ". p1"
        ". p2"
        ". p3"
        ". p4"
        ". p5"
        ". p6"
        ". p7"
        ". p8";
    }
}
            
        