
/*----------------BODY FIX PARTICULARUTY----------------*/
body {
    background-color: black;
    width: 100%;
    height: 100%;
    cursor: url("./images/cursor.png"), auto;
}

/*-----------END BODY FIX PARTICULARUTY----------------*/

/*-----------------NAVBAR--------------------*/
 #navbarNav {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: auto;
    width: 100%;
}
/*---------------END NAVABAR------------------*/

/*-----------PRESENTATION-------------------*/

.jumbotron{
    background-color: rgba(0, 0, 0, 0.664);
    border-radius: 30px;
}
 .bg-presentation {
    margin-top: -50px;
    background-image: url("./images/retro-car-try2.jpg");
    background-position: center;
}

.nameTitle{
    color: #9401ce;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    margin-top: 80px;
}

h3 {
color: white;
font-style: italic;
margin-block-start: 50px;
}

.presentation p{
    color: white;
    font-size: 20px;
    margin-block-start: 30px;
}

#entete a{
    color: white;
}

/*--------------END PRESENTATION---------------------------*/

/*-------------------DESCRIPTION--------------------*/

#who p {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 150%;
    font-weight: bold;
    margin-block-start :5%; 

}
.text-and-contact{
    text-align: center;
    text-shadow: 0 0 0.1em #000
}
/*------------------END DESCRIPTION------------------*/

/*--------------------PP---------------------*/
#pp{
    height: 400px;
    width: 300px;
     border-radius: 100px;
}
/*-------------------PP---------------*/

.subtitle{
    text-align: center;
    color: whitesmoke;
    margin-block-start: 100px;
    border: solid #9401ced7;
    -webkit-mask-image: linear-gradient(-80deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, 
    rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 1s infinite;
}
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 100%;
    }
    
    to {
      -webkit-mask-position: -70%;
    }
  }

/*-------------SKILLS-------------------------------*/
.competences{
    background: linear-gradient( to bottom,transparent, black),
    url("./images/square.gif");
    /* background-image: url("./images/square.gif"); */
    background-position: center;
    height: auto;

}

.skill-div{
    display: flex;
    flex-wrap: wrap;
}

.skill-div p{
    color : rgba(124, 124, 124, 0.589);
    display: flex;
   margin-left: 70px;
}

.img-skill{
    width: 100px;
    height: 100px; 
    display: flex;
    margin-block-start: 70px;
    margin-left: 60px;

}
.rotate div img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
   
  .rotate div:hover img {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-40deg);
  }

/*-----------------------END SKILLS-------------------*/

/*-------------PROJECTS GRID CSS--------------*/
.projects{

    height: auto;
    background-position: center;
    background: linear-gradient(to top, transparent, black),
    url("./images/smoke.gif");
    /* background-image: url("./images/smoke.gif"); */
}
.card{
    opacity: 0.8;
    background-color: black;
    border: solid white 1px;
    
}
.card-effect{
    text-decoration: none;
    transition: transform .2s;
}
.card-effect:hover{
     transform: scale(1.2);
     box-shadow: 0 0 20px rgba(21, 255, 0, 0.774); 
}

.card-effect::after {
     content: '';
     display: block;
     width: 0;
     height: 4px;
     background: rgb(0, 255, 13);
     transition: width .3s;
}

.card-effect:hover::after {
     width: 100%;

}
.card-body a{
    display: flex;
    justify-content: center;
}
.card-project{
    margin-block-start: 30px;
    margin-block-end: 50px;
}
.card img{
    display: flex;
    align-self: center;
   /* margin-left: 90px;*/
    height: 70px;
    width: 70px;
}
#logo-avt{
    width: 200px;
    margin-left: 25px;
}

/*-----------------------RESPONSIVE--------------------------------------*/
/* @media screen and (max-width: 500px){
    
#title h1{
    font-size: 30px;
    color:lime;
}
} */